/* IMPOSTAZIONI GENERALI */
* {
  text-align: center;
}

/* HEADER */
header {
  background-image: url(../images/banner.jpg);
  width: 100%;
  min-height: 600px;
  margin-bottom: 30px;
  line-height: 3rem;
}
header div {
  background-color: black;
  height: 200px;
}

header img {
  margin-block: 2rem;
}
header p {
  color: black;
  font-size: 30px;
  margin-block: 4rem;
}
h1 {
  color: turquoise;
  font-size: 60px;
  font-weight: bold;
  margin-block: 6rem;
}
button {
  background-color: orangered;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* MAIN */

h3 {
  color: turquoise;
  font-size: 30px;
  font-weight: bold;
  margin-block: 3rem;
}

main p {
  margin-block: 2rem;
  font-size: 30px;
  line-height: 3rem;
}

main img {
  border-radius: 50%;
}
main div {
  background-color: orangered;
  padding: 20px;
}
span {
  font-size: 20px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-block: 1rem;
}

h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

main div p {
  color: white;
  font-size: 20px;
  margin: 5px;
  line-height: 1rem;
}
.name {
  margin-top: 2rem;
}

.
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */


aside div {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(88, 89, 90);
  margin: 60px;
  padding: 3rem;
}

aside div p {
  margin-bottom: 60px;
  font-size: 20px;
}

/* FOOTER */
footer {
  background-color: turquoise;
  color: white;
  font-size: 30px;
  padding: 2rem;
  line-height: 3rem;
}
a {
  display: block;
}
